<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>登录我们的网站</h3>

                    <p>输入您的帐号和密码登录：</p>
                </div>
                <div class="form-top-right">
                    <i class="glyphicon glyphicon-lock" style="padding-top: 20%"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form>
                    <div class="form-group">
                        <label class="sr-only" for="form-username">帐号</label>
                        <input type="text" name="form-username" placeholder="帐号..."
                               class="form-username form-control" id="form-username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">密码</label>
                        <input type="password" name="form-password" placeholder="密码..."
                               class="form-password form-control" id="form-password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="signIn()">登录</button>
            </div>
        </div>
    </div>
</div>
<div id="index_bg"
     style="background: url('../public/images/index_bg.jpg') center no-repeat;z-index: -999;height: 1080px;position: fixed;overflow: hidden;width: 100%;">
    <div style="background-color: rgba(255,255,255,.2);height: 100%;width: 100%">

        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-default col-md-2"
                     style="margin-top: 100px;background-color: rgba(255,255,255,.2)">
                    <div class="panel-body" style="text-align: center">
                        <div class="navbar">
                            <div class="navbar-left">
                                <ul id="left-content" class="nav">
                                    <li ><a>基本指标</a></li>
                                    <li ><a href="#">用户分析</a></li>
                                    <li ><a href="#">使用分析</a></li>
                                    <li><a ng-click="channelVersionMenu()">渠道版本</a>

                                        <div id="channelVersionMenu" class="navbar-right" style="display: none">
                                            <ul class="nav">
                                                <li ui-sref=".channelDis"><a href="">渠道分析</a></li>
                                                <li ><a href="#">版本分布</a></li>
                                                <li  ><a href="/apps/">渠道来源细分</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!--<li><a>分析五</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 offset1 content" ui-view style="height: 900px">
                </div>

            </div>

        </div>
    </div>
</div>