<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width,height=device-height, initial-scale=1″ />
    <title>数据分析可视化（测试中）</title>
    <link rel="stylesheet" href="/public/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="/public/javascripts/bower_components/angular/angular.min.js"></script>
    <script src="/public/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/public/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/javascripts/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/public/javascripts/bower_components/angular-cookie/angular-cookie.min.js"></script>
    <script src="/public/javascripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/public/javascripts/bower_components/echarts/build/source/echarts.js"></script>
    <script src="/public/javascripts/config.js"></script>
    <script src="/public/javascripts/controllers/indexCtr.js"></script>
    <script src="/public/javascripts/controllers/channelDisCtr.js"></script>
    <script src="/public/javascripts/controllers/terminalDevCtr.js"></script>
    <script src="/public/javascripts/controllers/userPortraitCtr.js"></script>
    <script src="/public/javascripts/controllers/usersRetainedCtr.js"></script>
    <base href="/"/>
</head>
<body ng-app="dataAP">
<div ui-view>

</div>
</body>
</html>