<div class="panel panel-default" style="border: 0px solid white">
    <div class="panel-heading">

        <div class="title-bar clearfix">
            <h1 class="l">应用概况</h1>
        </div>
        <div id="Outline" class="table-list">
            <table cellspacing="0" cellpadding="0" class="list">
                <tbody>
                <tr class="title">
                    <th class="null"></th>
                    <th class="session_count">启动次数</th>
                    <th class="user_count">启动用户</th>
                    <th class="new_user_count">新用户</th>
                    <th class="new_user_ratio">新用户占比</th>
                    <th class="average_use_time2">每次使用时长</th>
                    <th class="session_time_per_person">每人使用时长</th>
                    <th class="daily_activity_degree">日活跃度</th>
                </tr>
                <tr class="highlight">
                    <td class="normal null">今日</td>
                    <td class="session_count">12,512</td>
                    <td class="user_count">5,170</td>
                    <td class="new_user_count">457</td>
                    <td class="new_user_ratio">8.84%</td>
                    <td class="average_use_time2">00:02:49</td>
                    <td class="session_time_per_person">00:06:49</td>
                    <td class="daily_activity_degree">0.18%</td>
                </tr>
                <tr>
                    <td class="normal null">昨日</td>
                    <td class="session_count">22,949</td>
                    <td class="user_count">8,542</td>
                    <td class="new_user_count">873</td>
                    <td class="new_user_ratio">10.22%</td>
                    <td class="average_use_time2">00:02:51</td>
                    <td class="session_time_per_person">00:07:40</td>
                    <td class="daily_activity_degree">0.3%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="OutlineSummary" class="outline-summary">
            <table cellspacing="0" cellpadding="0" class="list">
                <tbody>
                <tr>
                    <td class="val0"><span class="val">2,893,233</span><span class="label"><a
                            href="/web/activitydegree?appId=19">累计启动用户</a></span><a href="javascript:void(0)"
                                                                                    class="help"
                                                                                    data="accumulative_user_count"></a>
                    </td>
                    <td class="val1"><span class="val">30,286</span><span class="label"><a
                            href="/web/activitydegree?appId=19">周活跃用户</a></span><a href="javascript:void(0)"
                                                                                   class="help"
                                                                                   data="weekly_user_count"></a></td>
                    <td class="val2"><span class="val">13.25%</span><span class="label"><a
                            href="/web/retaineduser?appId=19">月留存率</a></span><a href="javascript:void(0)" class="help"
                                                                                data="monthly_retained_ratio"></a></td>
                    <td class="val3"><span class="val">2.69</span><span class="label"><a
                            href="/web/visit/frequency?appId=19">人均日启动次数</a></span><a href="javascript:void(0)"
                                                                                      class="help"
                                                                                      data="session_count_per_user_one_day"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="section-title">时段分析:</div>
        <div class="control-bar clearfix bg-iframe panel" id="ControlBar">
            <div class="l date-select-bar" id="DateSelectBar">
                <a href="#0" class="cur">今天</a><a href="#-1" class="">昨天</a><a href="#-6" class="">最近7天</a><a
                    href="#-29" class="">最近30天</a><a href="#-59" class="">最近60天</a></div>
        </div>

    <div class="panel panel-default" style="margin-left: 20px;margin-right: 20px;margin-top: 8px">

        <nav class="navbar navbar-default" role="navigation" style="background-color: #FCFCFC;">
            <div class="navbar-header" style="padding-top: 8px">
                <a class="navbar-brand" href="#"><label
                        style="font-size: 18px; font-weight: 700; color: black">统计字段</label></a>
            </div>
            <div class="tabs" id="div_item_tabs" style="padding-top: 8px">
                <a class="first current" id="key_page_0" ng-click="triggerKey(0)">人均访问页面数</a>
                <a class="last" id="key_page_1" ng-click="triggerKey(1)">人均访问时长</a>
                <a class="first" id="key_page_2" ng-click="triggerKey(0)">人均访问页面数</a>
                <a class="last" id="key_page_3" ng-click="triggerKey(1)">人均访问时长</a>
                <a class="first" id="key_page_4" ng-click="triggerKey(0)">人均访问页面数</a>
                <a class="last" id="key_page_5" ng-click="triggerKey(1)">人均访问时长</a>
            </div>
        </nav>
        <label style="margin-left: 40px">趋势图</label>

        <div id="pageView" style="width: 100%;height: 400px"></div>
        <hr>
        <label style="margin-left: 40px;margin-bottom: 20px">详细数据</label>
    </div>
    <div class="panel-body" style="margin-right: 10px;">
        <div class="section">
            <div id="Area" class="area-list-container l">
                <div class="title clearfix">
                    <div class="r"><a class="button" href="/web/region?appId=19"><span>查看全部</span></a></div>
                    <div class="l section-title">地域分布:</div>
                </div>
                <table class="area-list">
                    <tbody>
                    <tr>
                        <th style="width: 240px;">&nbsp;</th>
                        <th></th>
                        <th style="width: 60px;">地域</th>
                        <th></th>
                        <th style="width: 60px;">启动次数</th>
                        <th></th>
                        <th style="width: 45px;">占比</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td colspan="8" class="flash-area-td">
                            <div id="FlashAreaContainer" class="flash-area-content">
                                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                                        codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
                                        id="FlashArea" width="100%" height="255" align="middle">
                                    <param name="bgcolor" value="#FFFFFF">
                                    <param name="wmode" value="transparent">
                                    <param name="allowscriptaccess" value="always">
                                    <param name="movie" value="/web/flash/pie.swf">
                                    <param name="flashvars" value="flashId=FlashArea&amp;baseUrl=%2Fweb%2Fflash%2Ffla">
                                    <embed width="100%" height="255" bgcolor="#FFFFFF" wmode="transparent"
                                           errormessage="载入FLASH出错" ver="9.0.0" allowscriptaccess="always"
                                           align="middle" flashvars="flashId=FlashArea&amp;baseUrl=%2Fweb%2Fflash%2Ffla"
                                           src="/web/flash/pie.swf" name="FlashArea"
                                           type="application/x-shockwave-flash"
                                           pluginspage="http://www.macromedia.com/go/getflashplayer">
                                </object>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="Entrance" class="page-list-container r">
                <div class="title clearfix">
                    <div class="r"><a class="button" href="/web/visit/page?appId=19"><span>查看全部</span></a></div>
                    <div class="l section-title">访问页面：</div>
                </div>
                <table class="page-list">
                    <tbody>
                    <tr>
                        <th>访问页面</th>
                        <th>访问页面备注名称</th>
                        <th>访问次数</th>
                        <th>访问次数占比</th>
                    </tr>
                    <tr>
                        <td title="searchindex" class="page-title"><span class="page-order">1</span>searchindex</td>
                        <td title="搜索页" class="page-title">搜索页</td>
                        <td class="ar">16,076</td>
                        <td class="ratio">
                            <div title="32.96%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:32.96%;">32.96%
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="online_view" class="page-title"><span class="page-order">2</span>online_view</td>
                        <td title="在线词条页" class="page-title">在线词条页</td>
                        <td class="ar">13,196</td>
                        <td class="ratio">
                            <div title="27.06%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:27.06%;">27.06%
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="logsHomePagePv" class="page-title"><span class="page-order">3</span>logsHomePagePv
                        </td>
                        <td title="2.0首页精彩推荐tab" class="page-title">2.0首页精...</td>
                        <td class="ar">9,934</td>
                        <td class="ratio">
                            <div title="20.37%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:20.37%;">20.37%
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="logsSearResultPagePv" class="page-title"><span class="page-order">4</span>logsSearResul...
                        </td>
                        <td title="2.0搜索结果页" class="page-title">2.0搜索结果页</td>
                        <td class="ar">4,528</td>
                        <td class="ratio">
                            <div title="9.28%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:9.28%;">9.28%
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="image_view" class="page-title"><span class="page-order">5</span>image_view</td>
                        <td title="图片页（不含翻页）" class="page-title">图片页（不含...</td>
                        <td class="ar">1,390</td>
                        <td class="ratio">
                            <div title="2.85%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:2.85%;">2.85%
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="summary_view" class="page-title"><span class="page-order">6</span>summary_view</td>
                        <td title="目录页" class="page-title">目录页</td>
                        <td class="ar">1,227</td>
                        <td class="ratio">
                            <div title="2.52%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:2.52%;">2.52%
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="my_baike_pv" class="page-title"><span class="page-order">7</span>my_baike_pv</td>
                        <td title="我的百科页" class="page-title">我的百科页</td>
                        <td class="ar">1,051</td>
                        <td class="ratio">
                            <div title="2.15%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:2.15%;">2.15%
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="more_view" class="page-title"><span class="page-order">8</span>more_view</td>
                        <td title="更多页" class="page-title">更多页</td>
                        <td class="ar">609</td>
                        <td class="ratio">
                            <div title="1.25%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:1.25%;">1.25%
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="off_view" class="page-title"><span class="page-order">9</span>off_view</td>
                        <td title="离线词条页" class="page-title">离线词条页</td>
                        <td class="ar">415</td>
                        <td class="ratio">
                            <div title="0.85%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:0.85%;">0.85%
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td title="album_view_pv" class="page-title"><span class="page-order">10</span>album_view_pv
                        </td>
                        <td title="图册页" class="page-title">图册页</td>
                        <td class="ar">348</td>
                        <td class="ratio">
                            <div title="0.71%"
                                 style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:0.71%;">0.71%
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>