<div class="panel panel-default" style="border: 0px solid white" ng-controller="appSurveyCtr">
    <div class="panel-heading">
        <div class="title-bar clearfix">
            <h1 class="l">应用概况</h1>
        </div>
        <div id="Outline" class="table-list">
            <table cellspacing="0" cellpadding="0" class="list">
                <tbody>
                <tr class="title">
                    <th class="null"></th>
                    <th class="session_count">启动次数</th>
                    <th class="user_count">启动用户</th>
                    <th class="new_user_count">新用户</th>
                    <th class="new_user_ratio">新用户占比</th>
                    <th class="average_use_time2">每次使用时长</th>
                    <th class="session_time_per_person">每人使用时长</th>
                    <th class="daily_activity_degree">日活跃度</th>
                </tr>
                <tr ng-repeat="info in data" class="highlight">
                    <td class="normal null">{{info.date}}</td>
                    <td class="session_count">{{info.start_count}}</td>
                    <td class="user_count">{{info.start_user_count}}</td>
                    <td class="new_user_count">暂未统计</td>
                    <td class="new_user_ratio">暂未统计</td>
                    <td class="average_use_time2">{{(info.time_sum/info.start_count).toFixed(2)}}</td>
                    <td class="session_time_per_person">{{(info.time_sum/info.uv).toFixed(2)}}</td>
                    <td class="daily_activity_degree">0.00%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="OutlineSummary" class="outline-summary">
            <table cellspacing="0" cellpadding="0" class="list">
                <tbody>
                <tr>
                    <td class="val0"><span class="val">暂未统计</span><span class="label"><a>累计启动用户</a></span><a
                            class="help"
                            data="accumulative_user_count"></a>
                    </td>
                    <td class="val1"><span class="val">暂未统计</span><span class="label"><a>周活跃用户</a></span><a
                            class="help"
                            data="weekly_user_count"></a></td>
                    <td class="val2"><span class="val">0.00%</span><span class="label"><a>月留存率</a></span><a class="help"
                                                                                                            data="monthly_retained_ratio"></a>
                    </td>
                    <td class="val3"><span class="val">暂未统计</span><span class="label"><a>人均日启动次数</a></span><a
                            class="help"
                            data="session_count_per_user_one_day"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="section-title">时段分析:</div>
        <div class="control-bar clearfix bg-iframe panel" id="ControlBar">
            <div class="l date-select-bar" id="DateSelectBar">
                <!--<a href="#0" class="cur">今天</a><a href="#-1" class="">昨天</a>-->
                <a class="cur" id="appSurvey_7" ng-click="getAnalysisDataByTime(7)">最近7天</a><a
                    class="" id="appSurvey_30" ng-click="getAnalysisDataByTime(30)">最近30天</a><a class="" id="appSurvey_60" ng-click="getAnalysisDataByTime(60)">最近60天</a></div>
        </div>

        <div class="panel panel-default" style="margin-left: 20px;margin-right: 20px;margin-top: 8px">

            <nav class="navbar navbar-default" role="navigation" style="background-color: #FCFCFC;">
                <div class="navbar-header" style="padding-top: 8px">
                    <a class="navbar-brand" href="#"><label
                            style="font-size: 18px; font-weight: 700; color: black">统计字段</label></a>
                </div>
                <div class="tabs" id="div_item_tabs" style="padding-top: 8px">
                    <a class="first current" id="key_app_0" ng-click="triggerKey(0)">新增用户</a>
                    <a class="last" id="key_app_1" ng-click="triggerKey(1)">活跃用户</a>
                    <a class="first" id="key_app_2" ng-click="triggerKey(2)">启动次数</a>
                    <!--<a class="last" id="key_page_3" ng-click="triggerKey(3)">人均访问时长</a>-->
                    <!--<a class="first" id="key_page_4" ng-click="triggerKey(4)">人均访问页面数</a>-->
                    <!--<a class="last" id="key_page_5" ng-click="triggerKey(5)">人均访问时长</a>-->
                </div>
            </nav>
            <label style="margin-left: 40px">趋势图</label>

            <div id="timeRangeAnalysis" style="width: 100%;height: 400px"></div>
            <hr>
            <label style="margin-left: 40px;margin-bottom: 20px">详细数据</label>
        </div>
        <div class="panel-body" style="margin-right: 10px;">
            <div class="section">
                <div id="Area" class="area-list-container l">
                    <div class="title clearfix">
                        <!--<div class="r"><a class="button" href="/web/region?appId=19"><span>查看全部</span></a></div>-->
                        <div class="l section-title">地域分布:</div>
                    </div>
                    <div class="area-list" id="areaAnalysis">

                    </div>
                </div>
                <div id="Entrance" class="page-list-container r">
                    <div class="title clearfix">
                        <div class="r"><a class="button" ui-sref=".accessPage" ng-click="changeInclude()"><span>查看全部</span></a></div>
                        <div class="l section-title">访问页面：</div>
                    </div>
                    <table class="page-list">
                        <tbody>
                        <tr>
                            <th>访问页面</th>
                            <th>访问页面备注名称</th>
                            <th>访问次数</th>
                            <th>访问次数占比</th>
                        </tr>
                        <tr ng-repeat="page in pageData">
                            <td title="album_view_pv" class="page-title"><span class="page-order">{{page.num}}</span>{{page.page}}
                            </td>
                            <td title="图册页" class="page-title">{{page.pageName}}</td>
                            <td class="ar">{{page.pv}}</td>
                            <td class="ratio">
                                <div title="{{page.pv_percentage}}%"
                                     style="height: 16px; line-height: 16px;background-color:#DCEBFE; width:{{page.pv_percentage}}%;">
                                    {{page.pv_percentage}}%
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>