<div class="panel panel-default" style="border: 0px solid white;height: 100%">
    <div class="panel-heading">
        <label style="font-size: 18px; font-weight: 700; ">页面来源</label>
        <br>

        <div class="btn-group">
            <div class="form-group">
                <div class="input-group col-md-6">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input date-range-picker id="daterange3" name="daterange3" class="form-control date-picker"
                           type="text"
                           ng-model="date" options="opts" required/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-down"></span></span>
                </div>
            </div>
        </div>
        <br>

        <div style="margin-top: 10px">
            版本:
            <div class="btn-group" role="group" aria-label="..." style="margin-left: 10px">
                <button id="source_btn_av_0" type="button" class="btn btn-default active"
                        ng-click="chooseVersion_page('all','source_btn_av_0')">全部
                </button>
                <button id="source_btn_av_1" type="button" class="btn btn-default"
                        ng-click="chooseVersion_page('1.0.0','source_btn_av_1')">1.0.0
                </button>
                <button id="source_btn_av_2" type="button" class="btn btn-default"
                        ng-click="chooseVersion_page('1.1.0','source_btn_av_2')">1.1.0
                </button>
                <button id="source_btn_av_3" type="button" class="btn btn-default"
                        ng-click="chooseVersion_page('1.2.0','source_btn_av_3')">1.2.0
                </button>
                <button id="source_btn_av_4" type="button" class="btn btn-default"
                        ng-click="chooseVersion_page('2.1.0','source_btn_av_4')">2.1.0
                </button>
                <button id="source_btn_av_5" type="button" class="btn btn-default"
                        ng-click="chooseVersion_page('2.2.0','source_btn_av_5')">2.2.0
                </button>
                <button id="source_btn_av_6" type="button" class="btn btn-default"
                        ng-click="chooseVersion_page('3.0.0','source_btn_av_6')">3.0.0
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body" style="background-color: #EDEEF0;height: 100%">
        <div class="alert" id="alert" style="background-color: white;margin: 10px;border: 1px solid darkgray">
            <a ng-click="closeAlert()" class="close" data-dismiss="alert">
                &times;
            </a>
            <span class="glyphicon glyphicon-info-sign"></span>
            <span id="errorShow" style="color: #666666;font-weight: 500">默认根路径：登录页面
                </span>
        </div>
        <div class="panel panel-default" style="margin-top: 20px;margin-left: 10px;margin-right: 10px">
            <div class="panel-heading" style="background-color: #FCFCFC">
                <label style="font-size: 18px; font-weight: 700; ">页面来源分析</label>
                <span style="color: darkgray;margin-left: 10px">全部 {{startTime}} 至 {{endTime}}</span>
            </div>
            <label style="margin: 20px">走向图</label>

            <div id="CustomFlowContainer" style="width: 100%;">
                <div class="site-flow clearfix" id="CustomFlow" style="height: 720px; left: 0px;">
                    <div class="html" id="htmlData">
                    </div>

                </div>
                <div id="flowBarRight" class="slide-bar slide-right" style="display:none;">
                    <div></div>
                </div>
                <div id="flowBarLeft" class="slide-bar slide-left" style="display:none;">
                    <div></div>
                </div>
                <div class="page-flow-legend">点击<span></span>将当前页面设置为根节点</div>
            </div>


        </div>
    </div>


</div>


