<div class="panel panel-default" style="height: 100%;width: 100%;border: 0px">
    <div class="panel-heading">
        <div class="container-fluid">
            <label>终端设备</label>
            <br>
            <!-- Split button -->
            <div class="btn-group">
                <div class="form-group">
                    <div class="input-group col-md-6">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input date-range-picker id="daterange3" name="daterange3" class="form-control date-picker"
                               type="text"
                               ng-model="date" options="opts" required/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-down"></span></span>

                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid" style="margin-top: 10px">
            版本:
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default active">全部</button>
                <button type="button" class="btn btn-default">v2.5.1-0</button>
                <button type="button" class="btn btn-default">2.6.9.2</button>
                <button type="button" class="btn btn-default">2.6.9.1</button>
                <button type="button" class="btn btn-default">1.7.1.0</button>
                <button type="button" class="btn btn-default">其他</button>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <nav class="navbar navbar-default" role="navigation" style="background-color: white">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><label>关键指标详解</label></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active " style="background-color: #00b3ee"><a href="#">操作系统版本</a></li>
                    <li><a href="#">分辨率</a></li>
                    <li><a href="#">网络环境</a></li>
                    <li><a href="#">运营商</a></li>
                    <li><a href="#">设备型号</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default active" ng-click="getNewUserChartData()">新增用户</button>
                <button type="button" class="btn btn-default" ng-click="getActiveUserChartData()">活跃用户</button>
                <button type="button" class="btn btn-default" ng-click="getStartCountChartData()">启动次数</button>


            </div>
        </div>

        <div id="terminalDevice" style="height: 400px;width: 100%;margin-top: 10px">
        </div>
        <div class="container-fluid">
            <table class="table table-hover table-striped">
                <caption><label>详细数据</label></caption>
                <thead>
                <tr>
                    <th>操作系统版本</th>
                    <th>新增用户/占比</th>
                    <th>活跃用户/占比</th>
                    <th>启动次数/占比</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in dataArray">
                    <td>{{data.key}}</td>
                    <td>{{data.register_user}} <span style="margin-left: 10px">{{((data.register_user/NewUserSum)*100).toFixed(2)}}%</span>
                    </td>
                    <td>{{data.active_user}}<span style="margin-left: 10px">{{((data.active_user/ActiveUser)*100).toFixed(2)}}%</span>
                    </td>
                    <td>{{data.start_count}} <span style="margin-left: 10px">{{((data.start_count/StartCount)*100).toFixed(2)}}%</span>
                    </td>
                </tr>

                </tbody>
            </table>


        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <span style="margin-left: 20px">共15条记录,每页显示<div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                10 <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">5</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">15</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">30</a></li>
                <li><a href="#">50</a></li>
                <li><a href="#">100</a></li>
                <li><a href="#">200</a></li>
            </ul>
        </div>条
                </span>

    </div>
    <div class="col-md-3 col-md-offset-6">

<span> <ul class="pagination " style="margin-right: 10px;position: relative;top: -20px">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">&raquo;</a></li>
</ul></span>
    </div>


</div>






