<div class="panel panel-default" style="border: 0px">
    <div class="panel-heading">
        <label>用户留存</label>
        <br>

        <div class="btn-group" style="margin-top: 5px">
            <button type="button" class="btn btn-default active">2015-12-07至2016-01-05</button>
            <button type="button" class="btn btn-default dropdown-toggle active" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <span style="margin-left: 20px;position: relative;bottom:-10px ">
                 <a href="#">7天</a>
            <a href="#">14天</a>
            <a href="#">30天</a>
            </span>

        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-6">
                渠道:
                <div class="btn-group" role="group" aria-label="..." style="margin-left: 10px">
                    <button type="button" class="btn btn-default active">全部</button>
                    <button type="button" class="btn btn-default">OpenPlatform</button>
                    <button type="button" class="btn btn-default">未知</button>
                    <button type="button" class="btn btn-default">yingyongbao</button>
                    <button type="button" class="btn btn-default">oppo</button>
                    <button type="button" class="btn btn-default">guanwang</button>
                    <button type="button" class="btn btn-default">其他</button>
                </div>
            </div>
            <div class="col-md-6">
                版本:
                <div class="btn-group" role="group" aria-label="..." style="margin-left: 10px">
                    <button type="button" class="btn btn-default active">全部</button>
                    <button type="button" class="btn btn-default">3.0.1</button>
                    <button type="button" class="btn btn-default">2.6.9.2</button>
                    <button type="button" class="btn btn-default">v2.5.1_0</button>
                    <button type="button" class="btn btn-default">2.6.9.1</button>
                    <button type="button" class="btn btn-default">2.6.2.0</button>
                    <button type="button" class="btn btn-default">其他</button>
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-default" style="margin: 20px">
        <div class="panel-heading">
            <label>关键指标详解</label>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <table class="table table-hover table-striped">
                    <caption><label>详细数据</label></caption>
                    <thead>
                    <tr>
                        <th rowspan="2" style="text-align: center;border: 1px solid rgb(232,232,232);position: relative;top: -15px">首次启动日</th>
                        <th rowspan="2" style="text-align: center;border: 1px solid rgb(232,232,232);position: relative;top: -15px">新增用户（不含重复安装</th>
                        <th colspan="9" style="text-align: center;border: 1px solid rgb(232,232,232)">留存率(%)</th>
                    </tr>
                    <tr style="border: 1px solid rgb(232,232,232)">
                        <th>次日</th>
                        <th>2天后</th>
                        <th>3天后</th>
                        <th>4天后</th>
                        <th>5天后</th>
                        <th>6天后</th>
                        <th>7天后</th>
                        <th>14天后</th>
                        <th>30天后</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>2015-12-7</td>
                        <td>4,752</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>
                        <td style="background-color: #CAE6FF">2.84%</td>
                        <td style="background-color: #D4EBFF">2.36%</td>
                    </tr>
                    <tr>
                        <td>2015-12-8</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>
                        <td style="background-color: #CAE6FF">2.84%</td>
                        <td style="background-color: #D4EBFF">2.36%</td>
                    </tr>
                    <tr>
                        <td>2015-12-9</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>
                        <td style="background-color: #CAE6FF">2.84%</td>
                        <td style="background-color: #D4EBFF">2.36%</td>
                    </tr>
                    <tr>
                        <td>2015-12-10</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>
                        <td style="background-color: #CAE6FF">2.84%</td>
                        <td style="background-color: #D4EBFF">2.36%</td>
                    </tr>
                    <tr>
                        <td>2015-12-11</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>
                        <td style="background-color: #CAE6FF">2.84%</td>
                        <td style="background-color: #D4EBFF">2.36%</td>
                    </tr>
                    <tr>
                        <td>2015-12-12</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>
                        <td style="background-color: #CAE6FF">2.84%</td>
                        <td style="background-color: #D4EBFF">2.36%</td>
                    </tr>
                    <tr>
                        <td>2015-12-13</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>
                        <td style="background-color: #CAE6FF">2.84%</td>

                    </tr>
                    <tr>
                        <td>2015-12-14</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>
                        <td style="background-color: #CAE6FF">2.84%</td>

                    </tr>
                    <tr>
                        <td>2015-12-15</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>
                        <td style="background-color: #CAE6FF">2.84%</td>
                    </tr>
                    <tr>
                        <td>2015-12-16</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>
                        <td style="background-color: #BCDFFF">3.49%</td>


                    </tr>
                    <tr>
                        <td>2015-12-17</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>
                        <td style="background-color: #BCE0FF">3.45%</td>

                    </tr>
                    <tr>
                        <td>2015-12-18</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                        <td style="background-color: #AED9FF">4.12%</td>

                    </tr>
                    <tr>
                        <td>2015-12-19</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>
                        <td style="background-color:#B8DEFF ">3.66%</td>
                    </tr>
                    <tr>
                        <td>2015-12-20</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                        <td style="background-color: #A0D2FF">4.76%</td>

                    </tr>
                    <tr>
                        <td>2015-12-21</td>
                        <td>4,556</td>
                        <td style="background-color: #52AEFF;">8.29%</td>
                    </tr>
                    <tr>
                        <td>2015-12-22</td>
                        <td>4,556</td>

                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div style="margin-left: 20px">共30条记录,每页显示
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">
                    30 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">5</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">15</a></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#">30</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                    <li><a href="#">200</a></li>
                </ul>
            </div>条</div>
        </div>
        <div class="col-md-6">
            <ul class="pagination pull-right" style="margin-right: 30px;position: relative;top: -20px">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>

    </div>
</div>