<div class="panel panel-default" style="border: 0px solid white">
    <div class="panel-heading">
        <label style="font-size: 18px; font-weight: 700; ">使用时长</label>
        <span class="glyphicon glyphicon-question-sign" ng-click=""></span>
        <br>

        <div class="btn-group">
            <div class="form-group">
                <div class="input-group col-md-6">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input date-range-picker id="daterange3" name="daterange3" class="form-control date-picker"
                           type="text"
                           ng-model="date" options="opts" required/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-down"></span></span>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 30px">按时间对比</button>
                </div>

            </div>

        </div>


        <div class="row" style="margin-top: 10px">
            <div class="col-md-6">
                渠道:
                <div class="btn-group" role="group" aria-label="..." style="margin-left: 10px">
                    <button id="time_btn_cm_0" type="button" class="btn btn-default active"
                            ng-click="chooseCM_time('all','time_btn_cm_0')">全部
                    </button>
                    <button id="time_btn_cm_1" type="button" class="btn btn-default"
                            ng-click="chooseCM_time('OpenPlatform','time_btn_cm_1')">
                        OpenPlatform
                    </button>
                    <button id="time_btn_cm_2" type="button" class="btn btn-default"
                            ng-click="chooseCM_time('yingyongbao','time_btn_cm_2')">
                        yingyongbao
                    </button>
                    <button id="time_btn_cm_3" type="button" class="btn btn-default"
                            ng-click="chooseCM_time('unknown','time_btn_cm_3')">未知
                    </button>
                    <button id="time_btn_cm_4" type="button" class="btn btn-default"
                            ng-click="chooseCM_time('oppo','time_btn_cm_4')">
                        oppo
                    </button>
                    <button id="time_btn_cm_5" type="button" class="btn btn-default"
                            ng-click="chooseCM_time('guanwang','time_btn_cm_5')">guanwang
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                版本:
                <div class="btn-group" role="group" aria-label="..." style="margin-left: 10px">
                    <button id="time_btn_av_0" type="button" class="btn btn-default active"
                            ng-click="chooseVersion_time('all','time_btn_av_0')">全部
                    </button>
                    <button id="time_btn_av_1" type="button" class="btn btn-default"
                            ng-click="chooseVersion_time('1.0.0','time_btn_av_1')">1.0.0
                    </button>
                    <button id="time_btn_av_2" type="button" class="btn btn-default"
                            ng-click="chooseVersion_time('1.1.0','time_btn_av_2')">1.1.0
                    </button>
                    <button id="time_btn_av_3" type="button" class="btn btn-default"
                            ng-click="chooseVersion_time('1.2.0','time_btn_av_3')">1.2.0
                    </button>
                    <button id="time_btn_av_4" type="button" class="btn btn-default"
                            ng-click="chooseVersion_time('2.1.0','time_btn_av_4')">2.1.0
                    </button>
                    <button id="time_btn_av_5" type="button" class="btn btn-default"
                            ng-click="chooseVersion_time('2.2.0','time_btn_av_5')">2.2.0
                    </button>
                    <button id="time_btn_av_6" type="button" class="btn btn-default"
                            ng-click="chooseVersion_time('3.0.0','time_btn_av_6')">3.0.0
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="margin-left: 20px;margin-right: 20px;margin-top: 20px">

        <nav class="navbar navbar-default" role="navigation" style="background-color: #FCFCFC;">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><label
                        style="font-size: 18px; font-weight: 700; color: black">关键指标详解</label></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active "><a style="background-color:#3389D4;color: white;font-weight: 700">人均使用时长</a>
                    </li>
                    <!--<li><a href="#" style="font-weight: 700">次均使用时长</a></li>-->
                </ul>
            </div>
        </nav>
        <!--<div style="margin: 20px;background-color:#EDF6FF;border:1px solid;border-color:#B5DBFF;border-radius:5px;padding: 10px">-->
        <!--<span class="glyphicon glyphicon-info-sign"></span>-->
        <!--以"用户"为单位统计使用时长。-->
        <!--</div>-->
        <label style="margin-left: 40px">趋势图</label>

        <div id="usingTimeLengthChart" style="width: 100%;height: 300px"></div>
        <hr>
        <label style="margin-left: 40px;margin-bottom: 20px">详细数据</label>
    </div>
    <div class="panel panel-default" style="margin-left: 20px;margin-right: 20px">
        <div class="panel-heading">
            <label style="font-size: 18px; font-weight: 700; color: black">使用时长分布图</label>

        </div>
        <label style="margin-left: 20px;margin-bottom: 20px;margin-top: 20px">详细数据</label>

        <div class="sub_content" style="margin-left: 20px;margin-right: 20px">
            <div class="column cf" id="valiable">
                <div id="table_list1" class="gri_wrapper">
                    <table class="gri_stable" id="table_list1_table" style="table-layout: auto;">
                        <colgroup span="5">
                            <col class="gri_length" style="width: 10%;">
                            <col class="gri_ActiveUser" style="width: 20%;">
                            <col class="gri_ActivePercent" style="width: 25%;">
                            <col class="gri_NewUser" style="width: 20%;">
                            <col class="gri_NewPercent" style="width: 25%;">
                        </colgroup>
                        <thead>
                        <tr class="gri_tr_clicked">
                            <th name="length" class="">使用时长</th>
                            <th name="ActiveUser" class="">活跃用户数/占比</th>
                            <th name="ActivePercent" class=""></th>
                            <th name="NewUser" class="">新增用户/占比</th>
                            <th name="NewPercent" class=""></th>
                        </tr>
                        </thead>
                        <tbody id="tableData_time">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>