.tabs {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}
a.current:hover {
    background: #3389D4;
    border-color: #3389D4;
    color: #fff;
    cursor: default;
    margin: -1px 0;
    padding: 1px 20px;
}
a.last {
    border-right: 0 none;
}
.title .tabs a.current, .mod_basic>.title .tabs a.current:hover {
    background: #3389D4;
    border-color: #3389D4;
    color: #fff;
    cursor: default;
    margin: -1px 0;
    padding: 1px 20px;
}
.title {
    min-height: 30px;
    background: #f9f9f9;
    border-bottom: 1px solid #d8d8d8;
    font-size: 12px;
    line-height: 0;
    min-height: 40px;
    position: relative;
}
.title:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.title h3 {
    min-height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 16px;
    line-height: 40px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
.title-trigger {
    color: #000;
}
a.current:hover {
    background: #3389D4;
    border-color: #3389D4;
    color: #fff;
    cursor: default;
    margin: -1px 0;
    padding: 1px 20px;
}
.tabs a {
    border-right: 1px solid #e2e2e2;
    color: #000;
    float: left;
    font-size: 14px;
    line-height: 40px;
    min-height: 40px;
    padding: 0 20px;
    position: relative;
}
#con {
    margin: 0 10px;
    max-height: 225px;
    overflow: auto;
    padding: 10px 0;
}
#con ul {
    list-style: none;
}
.list-horizontal a {
    color: #555;
    overflow: hidden;
    padding: 3px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-horizontal .selected a {
    background: #08c;
    color: #fff;
}
.list-horizontal a {
    color: #555;
    overflow: hidden;
    padding: 3px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-horizontal label {
    line-height: 30px;
}
.list-horizontal li {
    float: left;
    margin-bottom: 2px;
    margin-right: 2%;
    width: 23%;
}
.condition-footer {
    background: #f4f5f8;
    border-top: 1px solid #c6cdd3;
    margin: 0 0px 0px;
    padding-right: 85px;
    position: relative;
}
.list-horizontal ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.content-selected {
    padding: 10px 10px 5px;
}
.content-selected h5 {
    float: left;
    font-size: 12px;
    margin: 0 8px 0 0;
    padding: 0;
}