
.form-box {
    padding-top: 13%;
  margin-top: 35px;
    color: white;
}
.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background-color: rgba(255,255,255,.2)
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}
.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}
.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    background-color: rgba(255,255,255,.2)
    line-height: 100px;
    text-align: right;
}
.form-bottom {
    padding: 25px 25px 30px 25px;
    background-color: rgba(255,255,255,.2)
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}
.form-bottom {
    padding: 25px 25px 30px 25px;
    background-color: rgba(255,255,255,.2)
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}
.imgtest{margin:10px 5px;
    overflow:hidden;}
.list_ul figcaption p{
    font-size:12px;
    color:#aaa;
}
.imgtest figure div{
    display:inline-block;
    margin:5px auto;
    width:100px;
    height:100px;
    border-radius:100px;
    border:2px solid #fff;
    overflow:hidden;
    -webkit-box-shadow:0 0 3px #ccc;
    box-shadow:0 0 3px #ccc;
}
.imgtest img{width:100%;
    min-height:100%; text-align:center;}