
.form-box {
    padding-top: 13%;
    margin-top: 35px;
    color: white;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background-color: rgba(255, 255, 255, .2) -moz-border-radius : 4 px 4 px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    background-color: rgba(255, 255, 255, .2) line-height : 100 px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background-color: rgba(255, 255, 255, .2) -moz-border-radius : 0 0 4 px 4 px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background-color: rgba(255, 255, 255, .2) -moz-border-radius : 0 0 4 px 4 px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.imgtest {
    margin: 10px 5px;
    overflow: hidden;
}

.list_ul figcaption p {
    font-size: 12px;
    color: #aaa;
}

.imgtest figure div {
    display: inline-block;
    margin: 5px auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.imgtest img {
    width: 100%;
    min-height: 100%;
    text-align: center;
}

#prof_chart_container {
    overflow: auto;
}

.visitor_cont {
    text-align: center;
    padding: 10px 0;
}

@charset "utf-8";
.gri_wrapper {
    overflow: auto;
}

.gri_wrapper table {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
}

.gri_wrapper table tbody th {
    padding: 10px 15px
}

.gri_wrapper table tbody td {
    line-height: 19px;
    padding: 10px 15px;
    color: #666;
    text-align: right;
    white-space: nowrap;
    border: 1px solid #e8e8e8;
    border-width: 1px 0 1px 0;
}

.gri_wrapper table thead th {
    line-height: 19px;
    padding: 10px 15px;
    text-align: right;
    color: #444;
    border: 1px solid #e8e8e8;
    border-width: 1px 0 1px 0;
    text-align: left;
    -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0);
    -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0);
    box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f3));
    background: -moz-linear-gradient(top, #fafafa, #f3f3f3);
    background: -ms-linear-gradient(top, #fafafa, #f3f3f3);
    background-color: #f5f5f5 \0;
    *background: #f5f5f5;
    white-space: nowrap;
    overflow: hidden;
}

.gri_wrapper table tfoot td {
    line-height: 19px;
    padding: 7px 8px;
    background: #fafafa;
    border: 1px solid #e1e1e1;
    color: #777777;
    font-weight: 700;
}

.gri_wrapper table .num {
    /*数字*/
    text-align: center;
}

.gri_wrapper table thead .thead_col th {
    background: #fff;
}

.gri_wrapper table table tbody td {
    text-align: left;
}

.gri_wrapper table tbody tr.hover td {
    border-bottom: 1px solid #d5e5f4;
    border-top: 1px solid #d5e5f4;
    background-color: #eaf2fa;
    cursor: pointer;

}

.icon-orderu {
    background-position: 0 0;
}

.icon-orderd {
    background-position: 0 -7px;
}

.icon-order-hover {
    /*==三角形==icon-order-hover 占位符==*/
    background-image: none;
}

.gri_wrapper table thead th.hover {
    cursor: pointer;
}

.gri_wrapper_tr_show {
    visibility: hidden;
}

tr:hover .gri_wrapper_tr_show {
    visibility: visible;
}

.gri_wrapper_td_show {
    visibility: hidden;
}

td:hover .gri_wrapper_td_show {
    visibility: visible;
}

/*=============其它==================================================*/
#autotipsdiv {
    word-wrap: break-word;
    word-break: break-all;
    background-color: #FFFFCC;
    border: 1px solid #FF9900;
}

.gri_wrapper {
    position: relative;
}

.gri_wrapper table {
    border: 0 none;
}

.gri_wrapper th,
.gri_wrapper td {
    border-left: 0 none;
    border-right: 0 none;
    color: #333;
}

.gri_wrapper table tbody tr:nth-child(even) td {
    background: #F7F7F7;
}

.gri_wrapper th {
    background: #F5F5F5;
    font-weight: bold;
    color: #000;
    box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0);
    border-bottom: 1px solid #d8d8d8;
}

.gri_wrapper th:first-child {
    border-left: 1px solid #e1e1e1;
}

.gri_wrapper th:last-child {
    border-right: 1px solid #e1e1e1;
}

.gri_wrapper tbody tr:hover td {
    background: #E6EFF9;
}

.gri_wrapper .row_hover {
    border-color: #D4E1EB;
    background: #E1EFFA;
}

.gri_wrapper tr:nth-child(even) .row_hover {
    background: #E6EFF9;
}

.gri_wrapper tbody tr:nth-child(even):hover td {
    background: #E6EFF9;
}

.gri_wrapper tr:hover th {
    box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1.0);
}

.gri_wrapper table thead th {
    text-align: right;
}

.gri_wrapper table thead th:first-child {
    text-align: left;
}

.gri_wrapper table td:first-child {
    text-align: left;
}

.gri_wrapper table thead th.center {
    text-align: center
}

.gri_wrapper .gri_strong td, .gri_wrapper .gri_strong {
    font-weight: bold;
    color: #444444;
}

.gri_table_static .gri_wrapper table tbody tr:nth-child(even) td {
    background: #fff;
}

.gri_table_static .gri_wrapper table tbody th {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    text-align: center;
}

.gri_table_static .gri_wrapper table thead th {
    text-align: center;
}

.gri_table_static .gri_wrapper table tbody td {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    text-align: center
}

.gri_table_static .gri_wrapper table thead th:first-child {
    text-align: center
}

.gri_wrapper .percent {
    display: inline-block;
    padding-left: 5px;
    width: 60px;
    text-align: left;
    color: #999;
}

/*==隐藏、展开详情的表格样式==*/
.gri_wrapper .detail_table {
    *table-layout: fixed;
}

/*处理表格中ie7长字母换行*/
.gri_wrapper .detail_table tbody tr:nth-child(even) td {
    background: transparent;
}

.gri_wrapper .detail_table tr.detail_ctn {
    display: none;
}

.gri_wrapper .detail_table tr.detail_ctn.row_open td {
    border-bottom-width: 1px;
    border-top-width: 0;
}

.gri_wrapper .detail_table tr.detail_ctn .ctn {
    max-height: 210px;
    overflow: auto;
    white-space: normal;
}

.gri_wrapper .detail_table tr.detail_ctn pre {
    margin-left: 20px;
    margin-top: 5px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.gri_wrapper .detail_table tr.row_open {
    display: table-row;
    *display: block;
}

.gri_wrapper .detail_table tr.row_open td {
    border-bottom-width: 0;
}

.gri_wrapper .detail_table tbody tr.row_open td {
    background: #F7F7F7;
}

.gri_wrapper .detail_table tbody tr:nth-child(even).row_open td {
    background: #F7F7F7;
}

.gri_wrapper .detail_table tbody tr:hover td,
.gri_wrapper .detail_table tbody tr:hover td.row_hover {
    background: #E6EFF9;
}

.gri_wrapper .detail_table tbody tr:nth-child(even):hover td {
    background: #E6EFF9;
}

.gri_wrapper .detail_table thead tr th.row_hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f3));
    background: -moz-linear-gradient(top, #fafafa, #f3f3f3);
    background: -ms-linear-gradient(top, #fafafa, #f3f3f3);
    background-color: #f5f5f5 \0;
    *background: #f5f5f5;
}

.gri_wrapper .detail_table tbody tr .row_hover {
    background: transparent;
}

.gri_wrapper .detail_table tbody tr:nth-child(even) .row_hover {
    background: transparent;
}

.gri_wrapper .detail_table .error_type,
.gri_wrapper .detail_table .note {
    width: 200px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
}

.gri_wrapper .detail_table span.warn {
    color: #d61c29;
}

.gri_wrapper .detail_table .detail_trigger {
    padding: 0 5px;
    font-size: 18px;
    font-weight: bold;
}

.gri_wrapper .detail_table .detail_trigger:hover {
    text-decoration: none;
}

/*边框表格内套无边框表格样式*/
.gri_wrapper table .table-noborder tr th {
    padding: 5px 0;
    border: none;
    background: none;
    box-shadow: none;
    font-weight: normal;
    color: #666;
}

.gri_wrapper table .table-noborder tr td {
    padding: 5px 10px 5px 0;
    border: none;
    background: none;
}

.gri_wrapper .error_detail {
    *position: relative;
    max-height: 700px;
    overflow: auto;
}

.gri_wrapper .error_detail > dt {
    margin-bottom: 5px;
    font-weight: bold;
    *zoom: 1;
}

.gri_wrapper .error_detail > dt:after {
    display: block;
    content: '.';
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.gri_wrapper .error_detail > dt .links {
    float: right;
    font-size: 0;
    white-space: nowrap;
}

.gri_wrapper .error_detail > dt .links a {
    margin-left: 10px;
    font-size: 12px;
    font-weight: normal;
}

.gri_wrapper .error_detail > dd {
    margin: 0 0 15px 10px;
}

.gri_wrapper .error_detail .break-word {
    white-space: normal;
}

.gri_wrapper .error_detail .table-noborder th,
.gri_wrapper .error_detail .table-noborder td {
    vertical-align: top;
}

.gri_wrapper .error_detail .log_ctn {
    position: relative;
    *zoom: 1;
    padding: 7px 100px 0 0;
    border-top: 1px solid #c9c9c9;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}

.gri_wrapper .error_detail .log_ctn > .more {
    position: absolute;
    right: 10px;
    top: 10px;
}

/*==表格公用样式==*/
.gri_wrapper table thead th.tr,
.gri_wrapper table tbody td.tr {
    text-align: right;
}

.gri_wrapper table thead th.tl,
.gri_wrapper table tbody td.tl {
    text-align: left;
}

.gri_wrapper table thead th.tc,
.gri_wrapper table tbody td.tc {
    text-align: center;
}

/* 首列不做变色的处理 */
.gri_wrapper table tbody td.nbg {
    background: none;
    border-color: #e8e8e8;
}

.gri_wrapper table tbody tr:nth-child(even) td.nbg {
    background: none;
    border-color: #e8e8e8;
}

.ui_progress {
    vertical-align: middle;
    width: 100%;
    font-size: 0;
    line-height: 0;
}

.ui_progress_bar {
    height: 10px;
    background: #5D9CEC;
}

.page_path_container {
    overflow: auto;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #e1e1e1;
    background: #FFF;
    font-size: 12px;
    min-height: 200px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.page_path_container .path_summary {
    width: 201px;
    font-size: 12px;
    line-height: 1.2em;
    position: relative;
}

.page_path_container .start {
    width: 179px;
    height: 126px;
    display: inline-block;
    z-index: 3;
}

.page_path_container .start h5 {
    line-height: 26px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #547eb3;
    text-align: center;
    text-shadow: 0 -1px 1px #456da1;
    background: url(http://mta.qq.com/mta/resource/imgcache/images/path.png) no-repeat;
}

.page_path_container .start .content {
    border: 1px solid #bdc7d4;
    background-color: #ecf4ff;
    color: #0f233d;
}

.page_path_container .start table {
    width: 100%;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.page_path_container .start th {
    font-weight: 700;
}

.page_path_container .start td, .page_path_container .start th {
    height: 26px;
    padding: 0 5px;
}

.page_path_container .next {
    width: 192px;
}

.page_path_container .next li {
    width: 192px;
    height: 55px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

.page_path_container li:first-child .bg_left {
    border-top-width: 1px;
    height: 54px;
}

.page_path_container .bg_left {
    width: 2px;
    height: 55px;
    float: left;
    background: #5688c8;
    border-width: 0 1px;
    border-style: solid;
    border-color: #2a64ae;
}

.page_path_container .next_1 .current .box {
    border-color: #2a64ae;
    background-color: #5688c8;
}

.page_path_container .current .box {
    color: #0f233d;
}

.page_path_container .box {
    float: left;
    width: 161px;
    height: 51px;
    border: 1px solid #a6c1e4;
    background: #c4deff;
    position: relative;
    left: 2px;
    color: #526884;
}

.page_path_container .fav {
    width: 27px;
    height: 27px;
    line-height: 18px;
    position: absolute;
    background: url(http://mta.qq.com/mta/resource/imgcache/images/path.png) 0 -27px no-repeat;
    top: -1px;
    left: -1px;
    color: #fff;
    display: none;
}

a {
    text-decoration: none;
}

.page_path_container .fav i {
    margin: -1px 0 0 -1px;
}

[class^="icon_"], [class*=" icon_"] {
    font-family: 'mta';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page_path_container h6 {
    font-weight: 700;
}

.page_path_container h6, .page_path_container p {
    margin-left: 15px;
}

address, caption, cite, code, dfn, em, i, strong, th, var {
    font-style: normal;
    font-weight: 400;
}

user agent stylesheeti, cite, em, var, address, dfn {
    font-style: italic;
}

.page_path_container p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.page_path_container h6, .page_path_container p {
    margin-left: 15px;
}

.page_path_container .next .current .bg_right {
    display: block;
}

.page_path_container .next_1 .bg_right, .page_path_container .next_2 .bg_left, .page_path_container .next_2 .current .box {
    border-color: #598ac9;
    background-color: #6ea2e4;
}

.page_path_container .next li {
    width: 192px;
    height: 55px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.page_path_container .next li {
    width: 192px;
    height: 55px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.page_path_container .path_summary .bg_right {
    top: 40%;
    right: -1px;
}

.page_path_container li:first-child .bg_left {
    border-top-width: 1px;
    height: 54px;
}

.page_path_container .next_2 .bg_right, .page_path_container .next_3 .bg_left, .page_path_container .next_3 .current .box {
    border-color: #6c97cd;
    background-color: #87b8f7;
}

.page_path_container .bg_left {
    width: 2px;
    height: 55px;
    float: left;
    background: #5688c8;
    border-width: 0 1px;
    border-style: solid;
    border-color: #2a64ae;
}

.page_path_container .last .box {
    height: 32px;
    border-color: #d7c1b4;
    background-color: #faece3;
    color: #9b7f6f;
}

.page_path_container .last .box h6, .page_path_container .last .box p {
    line-height: 32px;
}

.page_path_container .last .box h6 {
    float: left;
}

.page_path_container .last .box p {
    float: right;
    padding-right: 5px;
}

.page_path_container .next_1 .bg_right, .page_path_container .next_2 .bg_left, .page_path_container .next_2 .current .box {
    border-color: #598ac9;
    background-color: #6ea2e4;
}

.page_path_container .next .bg_right {
    top: 13px;
    right: -1px;
    display: none;
    z-index: 2;
}

.bg_right {
    width: 20px;
    height: 20px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #5989c7;
    position: absolute;
    background: url(http://mta.qq.com/mta/resource/imgcache/images/path.png) 0 -74px no-repeat #5688c8;
    z-index: 2;
}

.visitor_user {

    width: 55%;
}

.visitor h4 {
    font-size: 18px;
    font-weight: 400;
}

.visitor_user .visitor_cont {
    cursor: pointer;
    margin: 0px auto;
    padding-top: 70px;
    width: 260px;
}

.visitor_cont {
    padding: 50px 0;
    text-align: center;
}

ol, ul {
    list-style: none;
}

.visitor_user ul li {
    float: left;
    margin-right: 4px;
}

.i_unew {
    background-position: 0 0;
    background: url("http://mta.qq.com/mta/resource/imgcache/images/visitor.png") no-repeat;
    display: inline-block;
    height: 61px;
    vertical-align: middle;
    width: 22px;
}

.i_ucurrent {
    background-position: -26px 0;
    background: url("http://mta.qq.com/mta/resource/imgcache/images/visitor.png") no-repeat;
    display: inline-block;
    height: 61px;
    vertical-align: middle;
    width: 22px;
}

.visitor_user .current {
    background: #8cc151;
    color: #fff;
    display: inline-block;
    font-style: normal;
    height: 20px;
    left: 0px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: -20px;
    width: 38px;
}

.i_uold {
    background-position: -52px 0;
    background: url("http://mta.qq.com/mta/resource/imgcache/images/visitor.png") no-repeat;
    display: inline-block;
    height: 61px;
    vertical-align: middle;
    width: 22px;
}

.visitor_user .legend {
    color: #6c6c6c;
    float: right;
    width: 80px;
    position: relative;
    right: -100px;
    top: -50px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.visitor_user .legend i {
    display: inline-block;
    font-size: 0;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.visitor_user .i_new {
    background: #8cc151;
}

.visitor_user .i_old {
    background: #3ad2dc;
}

.visitor_user .i_ucurrent {
    position: relative;
}

.i_ucurrent {
    background-position: -26px 0;
    background: url("http://mta.qq.com/mta/resource/imgcache/images/visitor.png") no-repeat;
    display: inline-block;
    height: 61px;
    vertical-align: middle;
    width: 22px;
}

.cf {
}

.visitor_education {

    width: 40%;
}

.visitor h4 {
    font-size: 18px;
    font-weight: 400;
}

.visitor_streak {
    margin: 30px auto 0;
    width: 300px;
}

ol, ul {
    list-style: none;
}

.visitor_streak li {
    float: left;
    height: 120px;

}

a {
    text-decoration: none;
}

.visitor_streak em {
    color: #3ad2dc;
    display: none;
    position: absolute;
}

.visitor_streak i {
    display: inline-block;
    height: 60px;
    margin-top: 40px;
}

.i_education0 {
    background: #0ea4ae;
}

.i_education1 {
    background: #96e9ee;
}

.i_education2 {
    background: #65dde5;
}

.i_education3 {
    background: #8cc151;
}

.i_education4 {
    background: #3ad2dc;
}

.i_education5 {
    background: #1cbec9;
}

.visitor_education .legend {
    color: #6c6c6c;
    font-size: 12px;
    margin: 15px auto 0;
    width: 300px;
}

.visitor_education .legend p {
    float: left;
    margin-right: 10px;

}

.visitor_education .legend i {
    display: inline-block;
    font-size: 0;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

.i_education0 {
    background: #0ea4ae;
}

.i_education1 {
    background: #96e9ee;
}

.i_education2 {
    background: #65dde5;
}

.i_education3 {
    background: #8cc151;
}

.i_education4 {
    background: #3ad2dc;
}

.i_education5 {
    background: #1cbec9;
}

.cf:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.panel-body .tabs a.current {
    background: #3389D4;
    border-color: #3389D4;
    color: #fff;
    cursor: default;
    margin: -1px 0;
    padding: 1px 20px;
}

/*==================================404错误页面css======================================*/
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
.underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px 0;
}

/* Add 5px bottom padding and a underline */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*end reset*/
body {
    font-family: "Century Gothic" Geneva Helvetica, sans-serif;
    background: url('../images/bg.png');
}

.wrap {
    margin: 0 auto;
    width: 96%;
}

h1 {
    margin-top: 20px;
    color: #603813;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
}

.banner {
    text-align: center;
    margin-top: 30px;
}

.banner img {
    margin-top: 0px;
}

.page {
    text-align: center;
    font-family: "Century Gothic";
}

.page h2 {
    font-size: 3em;
    color: rgb(99, 44, 37);
    font-weight: bold;
}

.footer {
    font-family: "Century Gothic";
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.footer p {
    font-size: 1em;
    color: #603813;
}

.footer a {
    color: #f9614d;
}

.footer a:hover {
    text-decoration: underline;
}

/*media queries*/
@media all and (max-width: 1366px) and (min-width: 1280px) {
    .wrap {
        width: 90%;
    }

    .banner {
        margin-top: 30px;
    }
}

@media all and (max-width: 1280px) and (min-width: 1024px) {
    .wrap {
        width: 90%;
    }
}

@media all and (max-width: 1024px) and (min-width: 800px) {
    .wrap {
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }

    .banner {
        margin-top: 0px;
    }

    .page h2 {
        font-size: 2em;
    }
}

@media all and (max-width: 800px) and (min-width: 640px) {
    .wrap {
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }

    .banner {
        margin-top: 10px;
    }

    .banner img {
        width: 34%;
    }

    .page h2 {
        font-size: 2em;
    }
}

@media all and (max-width: 640px) and (min-width: 480px) {
    .wrap {
        width: 90%;
    }

    h1 {
        font-size: 1.6em;
    }

    .banner {
        margin-top: 0px;
    }

    .banner img {
        width: 32%;
    }

    .page h2 {
        font-size: 1.6em;
    }
}

@media all and (max-width: 480px) and (min-width: 320px) {
    .wrap {
        width: 90%;
    }

    h1 {
        font-size: 1.4em;
    }

    .banner {
        margin-top: 0px;
    }

    .banner img {
        width: 32%;
    }

    .page h2 {
        font-size: 1.4em;
    }

    .footer p {
        font-size: 0.9em;
    }
}

@media all and (max-width: 320px) {
    .wrap {
        width: 90%;
    }

    h1 {
        font-size: 1.4em;
    }

    .banner {
        margin-top: 10px;
    }

    .banner img {
        width: 80%;
    }

    .page h2 {
        font-size: 1.4em;
    }

    .footer {
        bottom: 10px;
    }

    .footer p {
        font-size: 0.9em;
    }
}

